<div class="search">	
	<%= form_tag(product_path, method: "get") do %>
		<%= label_tag(:text, "Search") %>
		<%= text_field_tag(:text) %>
		<%= collection_select(:category, :category_id, Category.all, :id, :name) %>
		<%= submit_tag("Search") %>
	<% end %>
</div>
