<div class="product">
	<% if product.image.present? %>
		<p><%= image_tag product.image.resized.url %></p>
	<% end %>

	<h2><%= link_to product.name, product %></h2>

	<p><%= link_to 'Add to Cart', add_to_cart_product_path(product), method: :post %></p>

	<p><b>Description: </b><%= product.description %></p>

	<p><b>Quantity in Stock: </b><%= product.quantity %></p>

	<% if product.sale_price.present? %>
		<p><b>Price: </b><s>$<%= product.price.to_f / 100 %></s></p>
		<p><b>Sale Price: </b>$<%= product.sale_price.to_f / 100 %></p>
	<% else %>
		<p><b>Price: </b>$<%= product.price.to_f / 100 %></p>
	<% end %>

	<p><b>Category: </b><%= link_to product.category.name, controller: "category", action: "show", id: product.category %></p>
</div>
